.nav-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

select {
  display: block;
}
.layout {
  text-align: center;
}
.title {
  font-size: 30px;
  font-family: cursive;
}
a {
  color: orange;
  text-decoration: none;
}
body {
  background-color: rgb(184, 245, 245)
}
li {
  display: inline;
  margin-right: 24px;
}