<section class="row">
  <h4>Log In:</h4>
  
  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}

  <form action="" method="POST">
    <p>
      <input type="email" name="email" placeholder="Email">
    </p>
    <p>
      <input type="password" name="password" placeholder="Password">
    </p>
    <p>
      <input type="submit" value="Log In">
    </p>
  </form>
</section>
