<section>
  <h2>{{user.local.email}}</h2>
  {{#if user.gifs}}
    <div>
      {{#each user.gifs}}
         {{> 'gif'}}
      {{/each}}
    </div>
  {{else}}
    <p>No Gifs yet</p>
  {{/if}}
</section>
