<section>
  <h4>Sign Up:</h4>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST">
    <p>
      <input type="email" name="email" placeholder="Email">
    </p>
    <p>
      <input type="password" name="password" placeholder="Password">
    </p>
    <p>
      <input type="submit" value="Sign Up">
    </p>
  </form>
</section>
