<section class="form-container">
  <h4>Add Gif</h4>
  <form action="/gif" method="post" class="gif-form">
    <p class="input-field">
      <textarea name="gif[content]" cols="30" rows="10" placeholder="Place Gif url here..."></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Add Gif" class="btn waves-effect waves-light">
    </p>
  </form>
</section>