<section>
  <h4>Add Gif</h4>
  <form action="/gif" method="post">
    <p>
      <textarea name="gif[content]" placeholder="Place Gif url here..."></textarea>
    </p>
    <p>
      <input type="submit" value="Add Gif">
    </p>
  </form>
</section>